.VerticalFlexContainer {
    display: flex;
    flex-direction: column;
}

.NextTimesContainer {
    overflow-y: scroll;
}

.NextTimesContainerChild {
    flex: 0 0 40%;
    /*
    temporary
    */
    border: 1px solid black;
}

.NextTimesItem {
    display: flex;
    flex-direction: row;
    position: relative;
}

.NextTimesItemContent {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    padding: 8px;
}

.NextTimesItemContainer {
    flex: 0 0 33.333%;
    display: flex;
    align-items: center;
    align-content: center;
}

.NextTimesItemCircle {
    background-color: blue;
    color: white;
    border-radius: 100%;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.NextTimesItemTime {
    flex: 0 0 66.666%;
}
