.App {
    /*
* border primarily for testing to easily see outside of screen dimension of raspberry pi
* can probably leave this for production
*/
    border: 1px solid black;

    /*
* manually set screen dimensions since only device intended to run on is the pi4
*/
    width: 800px;
    height: 480px;
}

.VerticalFlexContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.NextTimesContainer {
    overflow-y: scroll;
}

.NextTimesContainerChild {
    flex: 1 0 33.3333%;
    /*
    temporary
    */
    border: 1px solid black;
}
