name: Build MTA-PY Backend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        working-directory: ./backend
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Create Build Artifact
        working-directory: ./backend
        run: |
          python -m build

      - name: Save build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: backend-dist
          path: |
            ./backend/dist
